html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  font-family:Verdana,sans-serif;
  font-size:15px;
  line-height:1.5;

}
* {
  box-sizing: border-box;
}

body { 
    
    background-image: url("images/taxiback.jpg");
    background-size: 100%;
}

h1,h2,h3,h4,h5,h6{  border:0;
          font-family:"Segoe UI",Arial,sans-serif;
          margin:20px 0;
          font-weight:400;
          margin:10px 0;
        }

/* Caption text */
.text,h3,p {
  color: #ffffff;
  font-size: 18px;
  padding: 8px 12px;
  /*position: absolute;*/
  bottom: 8px;
  width: 100%;
}


.header {
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 5px 2px;
}

.header a {
  float: right;
  color: white;
  text-align: left;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: red;
  color: black;
}

.header a.active {
  background-color:red;
  color: black;
}

.header-right {
  float: right;
}




  .header-right {
    float: none;
  }



.testdiv{
  padding: 10px;
  justify-content: center;
  width: 100px;
  max-height: 150px;
  margin:auto;

}

/* Bordered form */
form {
  border: 2px grey;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 30%;
  float:center;
  padding: 14px ;
  margin: 8px 0;
  border-radius: 50px 50px 50px;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
  text-align:center;
}

/* Set a style for all buttons */
button{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 10px 200px;
 
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
  color: red;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 30%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 20px;
  color:black;
  text-align:center;


}
/* The "Forgot password" text */
span.psw {
  float:none;
  padding-top: 16px;
  text-align: center;
}




footer {
  text-align: center;
  padding: 50px;
  background-color: grey;
  color: white;
}

table {	
  	border-collapse: collapse;
 	width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd){background-color:black;
                  color:white;
                }

th {
  background-color:black;
  color: white;
}
tr{
	font-color:white;
}

p{
  text-align: center;
}

.title{
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

footer{
  background-color: #777;
  padding: 0px;
  text-align: center;
  color: white;
  bottom: 0;
  
}
